<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title><%= title %></title>
  <style>
    button {
      background-color: #4b5320;
      border-color: transparent;
      border-radius: 5px;
      color: white;
      padding: 7px;
    }
    a {
      border-radius: 5px;
      color: #4b5320;
      font-weight: bolder;
      margin-bottom: 10px;
      margin-top: 10px;
      outline-color: #4b5320;
      padding: 7px;
      text-decoration: none;
    }
    body {
      align-content: center;
      align-items: center;
      margin: auto;
      max-height: fit-content;
      max-width: fit-content;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    form {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    h1 {
      text-align: left;
      color: #4b5320;
    }
    option {
      text-align: left;
      font-weight: light;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    select {
      text-align: center;
      font-weight: light;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    table {
      border-radius: 5px;
      border-collapse: collapse;
      border-radius: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    tbody {
      background-color: #efeede;
      color: #4b5320;
    }
    thead {
      background-color: #4b5320;
      color: white;
    }
    th, td {
      padding: 5px;
    }
    .header {
      vertical-align:center;
      margin: auto;
      max-width: fit-content;
      max-height: max-content,
    }
    .flex-container {
      align-self: left;
      display: flex;
    }
    .link-button {
      color: white;
    }
  </style>
</head>