<div class="flex-container" align-items="left">
  <h2><a href="/">HacktiShop</a></h2>
<h4>
  <button>
    <a href="/" class="link-button">Home</a>
  </button>
  <button>
    <a href="/main/<%= result.id %>" class="link-button">Profile</a>
  </button>
</h4>
</div> 

<h1><%= header %></h1>