<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { title: "Confirm Purchase" }) %> 
<body>
  <main>
      <h1>Confirmation</h1>
      <form method="post" action="/register">
          <div>
              <label>Item Name:</label>
          </div>
          <div>
              <input type="submit" value="Submit">
          </div>
      </form>
  </main>
<script src="index.js"></script>
</body>
</html>